{% macro display_grid(grid) %}
      <table class='board' align='center'>
        <tr>
          <td>{{ grid['A1'] }}</td>
          <td>{{ grid['A2'] }}</td>
          <td class='right'>{{ grid['A3'] }}</td>
          <td>{{ grid['A4'] }}</td>
          <td>{{ grid['A5'] }}</td>
          <td class='right'>{{ grid['A6'] }}</td>
          <td>{{ grid['A7'] }}</td>
          <td>{{ grid['A8'] }}</td>
          <td>{{ grid['A9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['B1'] }}</td>
          <td>{{ grid['B2'] }}</td>
          <td class='right'>{{ grid['B3'] }}</td>
          <td>{{ grid['B4'] }}</td>
          <td>{{ grid['B5'] }}</td>
          <td class='right'>{{ grid['B6'] }}</td>
          <td>{{ grid['B7'] }}</td>
          <td>{{ grid['B8'] }}</td>
          <td>{{ grid['B9'] }}</td>
        </tr>
        <tr>
          <td class='bottom'>{{ grid['C1'] }}</td>
          <td class='bottom'>{{ grid['C2'] }}</td>
          <td class='rb'>{{ grid['C3'] }}</td>
          <td class='bottom'>{{ grid['C4'] }}</td>
          <td class='bottom'>{{ grid['C5'] }}</td>
          <td class='rb'>{{ grid['C6'] }}</td>
          <td class='bottom'>{{ grid['C7'] }}</td>
          <td class='bottom'>{{ grid['C8'] }}</td>
          <td class='bottom'>{{ grid['C9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['D1'] }}</td>
          <td>{{ grid['D2'] }}</td>
          <td class='right'>{{ grid['D3'] }}</td>
          <td>{{ grid['D4'] }}</td>
          <td>{{ grid['D5'] }}</td>
          <td class='right'>{{ grid['D6'] }}</td>
          <td>{{ grid['D7'] }}</td>
          <td>{{ grid['D8'] }}</td>
          <td>{{ grid['D9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['E1'] }}</td>
          <td>{{ grid['E2'] }}</td>
          <td class='right'>{{ grid['E3'] }}</td>
          <td>{{ grid['E4'] }}</td>
          <td>{{ grid['E5'] }}</td>
          <td class='right'>{{ grid['E6'] }}</td>
          <td>{{ grid['E7'] }}</td>
          <td>{{ grid['E8'] }}</td>
          <td>{{ grid['E9'] }}</td>
        </tr>
        <tr>
          <td class='bottom'>{{ grid['F1'] }}</td>
          <td class='bottom'>{{ grid['F2'] }}</td>
          <td class='rb'>{{ grid['F3'] }}</td>
          <td class='bottom'>{{ grid['F4'] }}</td>
          <td class='bottom'>{{ grid['F5'] }}</td>
          <td class='rb'>{{ grid['F6'] }}</td>
          <td class='bottom'>{{ grid['F7'] }}</td>
          <td class='bottom'>{{ grid['F8'] }}</td>
          <td class='bottom'>{{ grid['F9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['G1'] }}</td>
          <td>{{ grid['G2'] }}</td>
          <td class='right'>{{ grid['G3'] }}</td>
          <td>{{ grid['G4'] }}</td>
          <td>{{ grid['G5'] }}</td>
          <td class='right'>{{ grid['G6'] }}</td>
          <td>{{ grid['G7'] }}</td>
          <td>{{ grid['G8'] }}</td>
          <td>{{ grid['G9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['H1'] }}</td>
          <td>{{ grid['H2'] }}</td>
          <td class='right'>{{ grid['H3'] }}</td>
          <td>{{ grid['H4'] }}</td>
          <td>{{ grid['H5'] }}</td>
          <td class='right'>{{ grid['H6'] }}</td>
          <td>{{ grid['H7'] }}</td>
          <td>{{ grid['H8'] }}</td>
          <td>{{ grid['H9'] }}</td>
        </tr>
        <tr>
          <td>{{ grid['I1'] }}</td>
          <td>{{ grid['I2'] }}</td>
          <td class='right'>{{ grid['I3'] }}</td>
          <td>{{ grid['I4'] }}</td>
          <td>{{ grid['I5'] }}</td>
          <td class='right'>{{ grid['I6'] }}</td>
          <td>{{ grid['I7'] }}</td>
          <td>{{ grid['I8'] }}</td>
          <td>{{ grid['I9'] }}</td>
        </tr>
      </table>
 </div> 
{% endmacro %}