{% extends 'layout.html' %}

{% block title %}
    <div class="container" align="center">
      <div class="jumbotorn">
        <h1>Please Login</h1>
      </div>
      <br>
{% endblock %}

{% block body %}
    {{ super() }}
    <form class="form-horizontal" method="POST" action="{{ url_for('login') }}">
        <fieldset>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">User</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="user" id="inputName" placeholder="User">
            </div>
            </div>
            <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
            </div>
            <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </div>
        </fieldset>
        </form>
        {% if error %}
            <div>{{ error }}</div>
        {% endif%}
{% endblock %}